body {
    background-color: blanchedalmond;
}

header {
    background-color: azure;
    display: flex; 
    padding: 20px;
}
header nav{
    margin-left: auto;
}
nav a{
 margin: 0 10px;
}
footer{
    background-color: azure;
    display: flex;
    padding: 20px;
    justify-content: center
}
footer a{
    margin: 0 10px;
}
#brew{
    display: flex;
    flex-flow: wrap;
}
.container{
    display: flex;
    flex-direction: column;
    width: 500px;    
    
}

/* .card {
    width: 40%;
    box-shadow:10px 10px 5px;
    border: 1px solid lightblue;
    margin-right: 40px;
    margin-top: 40px;
    background-color:#F5F5F5;
    padding: 10%;
}

.card-img-top {
        display: flex;
        justify-content: center;
        height: 500px;
        width: 500px;
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin-top: 10px;
}

.beer-container {
    display: flex;
    flex-wrap: wrap;
<<<<<<< HEAD
}
>>>>>>> master
=======
} */

