body {
    background-color: blanchedalmond;
}
header {
    background-color: azure;
    display: flex;
    padding: 20px;
}
header nav{
    margin-left: auto;
}
nav a{
 margin: 0 10px;
}
footer{
    background-color: azure;
    display: flex;
    padding: 20px;
    justify-content: center
}
footer a{
    margin: 0 10px;
}
#brew{
    display: flex;
    flex-flow: wrap;
}
.container{
    display: flex;
    flex-direction: column;
    width: 500px;    
    
}